@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
  min-height: 100vh;
  position: relative;
}
body {
  background-color: #000;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  margin: 0;
  margin-bottom: 40px;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.bg-black {
  background-color: #0f0e17;
}
/* btn */
.btn-black {
  background-color: #000;
  color: #fff;
}
.btn-black:hover {
  background-color: #000;
  color: #fff;
}
.btn-black:not(:focus-visible) {
  box-shadow: none;
}
.custom-text-primary {
  color: #fed941;
}

/* Customs Button */
.custom-border-line-primary {
  border: 0.5px solid #fed941 !important;
}

.custom-btn-lg {
  width: 100%;
}
.custom-btn-facebook {
  background-color: #0a58ca;
  border-color: #0a58ca;
  color: #fff;
}
.custom-btn-google {
  background-color: #fff;
  border-color: rgb(223, 222, 222);
  color: #000;
}

.custom-btn-primary {
  background-color: #fed941;
  border-color: #fed941;
  color: #000;
}

.custom-btn-dark {
  background-color: #000;
  border-color: #fed941;
  color: #fed941;
}
.custom-btn {
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
}
/* SearchBar */
.search {
  height: 31px;
  width: 410px;
  border-radius: 4px;
  border: 0.5px solid #fed941;
  margin: 0 5px;
}

.search button {
  text-align: center;
  width: 72px;
  /* border-radius: 0px 2px 2px 0px; */
  background-color: #fed941;
  margin: 0;
  border: none;
}

.search input {
  width: 100%;
  height: 29px;
  border-radius: 2px 0px 0px 2px;
}

/* modifiers */
.bold {
  font-weight: bold;
}

/* rate */
.rate {
  background-color: #0000007a;
  position: absolute;
  width: 100px;
  height: 50px;
  margin-top: -300px;
  font-size: 24px;
  font-weight: 700;
  border-radius: 0 25px 25px 0;
  padding: 0px 10px 0px 0px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.top-rate {
  border-bottom: 3.5px solid #fed941a1;
  border-top: 3.5px solid #fed941a1;
  border-right: 3.5px solid #fed941a1;
}
.least-rate {
  border-bottom: 3.5px solid #0e3fa9a1;
  border-top: 3.5px solid #0e3fa9a1;
  border-right: 3.5px solid #0e3fa9a1;
}

.rate span img {
  width: 20px;
  margin-right: 5px;
  vertical-align: baseline;
}

.modal-backdrop.show {
  opacity: 0.9 !important;
  width: 100% !important;
  height: 100% !important;
}
.modal-content {
  background-color: transparent !important;
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
}

/* To show the lines on right 
and left sides of the text */
.divider::before {
  margin-right: 5px;
}
.divider::after {
  margin-left: 5px;
}
.divider::after,
.divider::before {
  content: "";
  border-top: 1px solid currentColor;
  flex: 1;
  opacity: 0.25;
}
.css-1vr111p-option {
  color: #1e2125 !important;
}
.css-1vr111p-option:hover,
.css-1vr111p-option:focus,
.dropdown-item:focus,
.dropdown-item:hover {
  color: #1e2125 !important;
  background-color: #fed941 !important;
}

.dropdown-menu.show {
  display: block;
  right: 7px !important;
  top: 45px !important;
}
/* carousel */
.alice-carousel__stage-item * {
  line-height: normal !important;
}

.cover {
  width: 1200px;
  height: 310px;
  margin: auto;
}
#logo {
  width: 130px;
}

.navItem:hover {
  color: #fed941 !important;
}

#toggleMenu {
  border-radius: 2px 0px 0px 2px !important;
}

.show {
  display: "contents";
}

.hide {
  display: none;
  right: 10000px;
}

#responsive-menu {
  height: 100vh;
  position: fixed;
  width: 100%;
  z-index: 1;
}
#closeResponsiveMenu {
  float: right;
  margin: 20px;
}

.btn-banner {
  position: absolute;
  bottom: 30px;
  left: 100px;
}

@media screen and (min-width: 320px) and (max-width: 374px) {
  .dropDownMenu {
    display: none !important;
  }
  .cover {
    width: 100%;
    height: 150px;
  }
  .btn-banner {
    left: 20px !important;
    bottom: 20px !important;
  }

  .containerBrand {
    display: none !important;
  }
  .movieForm,
  .movieInfo {
    flex-direction: column !important;
  }

  .custom-btn-banner {
    font-size: 0 !important;
  }

  #nav-container-main {
    justify-content: space-between !important;
  }

  .search {
    width: 300px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .search input {
    border: none !important;
    border-radius: 0 !important;
  }
  #toggleMenu {
    border: none !important;
    border-radius: 2px 0px 0px 2px !important;
  }
}
@media screen and (min-width: 375px) and (max-width: 767px) {
  .dropDownMenu {
    display: none !important;
  }
  .custom-btn-banner {
    font-size: 0 !important;
  }
  .cover {
    width: 100%;
    height: 200px;
  }
  .movieForm,
  .movieInfo {
    flex-direction: column !important;
  }
  .containerBrand {
    display: none !important;
  }

  .navItem {
    display: none !important;
  }

  #logo {
    display: none !important;
  }

  .navContainer {
    justify-content: space-between !important;
  }

  .search {
    width: 350px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .search input {
    border: none !important;
    border-radius: 0 !important;
  }
  #toggleMenu {
    border: none !important;
    border-radius: 2px 0px 0px 2px !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .cover {
    width: 100%;
  }
  .navItem {
    display: none !important;
  }
  .search {
    width: 400px !important;
    margin-left: 0px !important;
  }
  .search input {
    border: none !important;
    border-radius: 0 !important;
  }
  .movieForm,
  .movieInfo {
    flex-direction: column !important;
  }
  #toggleMenu {
    border-radius: 2px 0px 0px 2px !important;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1365px) {
  .search {
    width: 300px !important;
    margin-left: 0px !important;
  }
  .navItem {
    margin-left: 2px !important;
    margin-right: 6px !important;
  }
  #toggleMenu {
    display: none;
  }
}

@media screen and (min-width: 1366px) {
  #toggleMenu {
    display: none;
  }
}
